{% extends 'layout/base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

    <section class="histoire_entreprise">
        <h1>Histoire de l'entreprise</h1>
        <p>
            L’entreprise TEISSIER construction a été créée le 16 mai 2014, situé au 6 CHE DE TRANSIDE ET CABRIE,
            34820 TEYRAN. <br>
            Elle est gérée par Monsieur Lary et Kévin TEISSIER. Elle compte quatre salariés maçons dont les deux
            gérants. <br>
            Monsieur Lary TEISSIER a fait l’école des compagnons du devoir à Nîmes, et a travaillé comme salarié
            pour un patron où il a continué d’apprendre le métier. <br>

            Puis, il a décidé de se mettre en auto-entrepreneur pendant quelques années où il a pu faire sa clientèle
            et continuer d’évoluer. <br>

            Monsieur Lary TEISSIER a fini par proposer à son frère jumeau de monter une entreprise dans la maçonnerie et
            ont donc fondé l’entreprise SARL TEISSIER Construction.

        </p>
    </section>

    <hr>
    <br>

    <div class="contact_direct">

        <div>
        Contactez nous directement par téléphone :<br><br>

        <a href="tel:+33711223344">
            <img src={{ asset('media/images/téléphone.png') }} width="150px" height="150px" alt="téléphone">
        </a>
        </div>

        <div>
        Contactez nous directement par mail :<br><br>

        <a href="mailto:votreadresse@mail.fr">
            <img src={{ asset('media/images/email_envelope_icon_148215.png') }} width="150px" height="150px"
                 alt="icon_mail">
        </a>
        </div>

    </div>

    <br>
    <hr>

    <div class="image_maçon">
        <img src={{ asset('media/images/industrial-builder.jpg') }} width="100%" height="350px" alt="téléphone">
    </div>

    <hr>

    <div class="avisclient">
        <h2>Les avis laissés par nos clients :</h2>
{#        <h4>(Les deux derniers en date)</h4>#}

        {% block avis %}
            {% if avis is not empty %}
                <h2>Avis clients :</h2>
                <ul>
                    {% for avisItem in avis %}
                        <li>{{ avisItem.date_publication }}</li>
                        <li>{{ avisItem.avis }}</li>
                        <!-- Ajoutez d'autres éléments d'avis à afficher selon votre modèle d'avis -->
                    {% endfor %}
                </ul>
            {% else %}
                <p>Aucun avis disponible pour le moment.</p>
            {% endif %}
        {% endblock %}

    </div>
    <hr>

    <div>
        <iframe src="https://www.google.com/maps/d/embed?mid=1ZKRNIxCRWNgXe_d8Wr9E7hxTsYmFxL4&ehbc=2E312F"
                width="100%" height="480"></iframe>
    </div>

    <hr>

{% endblock %}
